body, html {
  /*margin:0px;
  left:0px;
  padding: 0px;*/
  background-color: white;
  font: 1em "Open Sans",sans-sherif;
}

.header {
  background-color: #212121;
  top:0px;
  left:0px;
  padding: 0px;
  color:#fff;
  width:100%;
  height:200px;
  position:absolute;;

}

.header .logo{
  float: left;
  height:40px;
  padding: 15px 30px;
  font-size: 1.6em;
  line-height: 40px;
}

.header > ul{
  margin: 0px;
  padding:0px;
  /*float:left;*/
  list-style-type: none;
}


.nav-item:hover{
  /*background-color:transparent;*/
  cursor: pointer;
  color: #e57373;
}

.nav-item{
  float:left;
  display: inline-block;
  padding: 15px 20px;
  font-size: 1.4em;
  margin:0px;
  height: 40px;
  line-height: 40px;
}

.nav-option{
  display:none;
}

a:link{
  color:white;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
}
a:hover{
  color:red;
  text-decoration: none;
  font-size: 120%;
}
a:active{
  color:red;
  text-decoration: none;
}


.footer{
  bottom:0px;
  left:0px;
  background-color: #212121;
  color: #e0e0e0;
  width:100%;
  height:75px;
}

.center{
    text-align: center;
}

.right{
  /*text-align: right;*/
  float: right;
  display: inline-block;
  padding: 15px 20px;
  font-size: 1.4em;
  height: 40px;
  line-height: 40px;
}

.right:hover{
  cursor: pointer;
  color: #e57373;
}


.card{
  color:#212121;
  background-color:#eeeeee;
  position: absolute;
  width:95%;
  height:250px;
  left:50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.46);
  transform: translateX(-50%);
  border-radius: 15px;
}

.a{
  top:50%;
}

.b{
  top:115%;
}

.c{
  top:180%;
}

.d{
  top:245%
}

.e{
  top:310%;
}

.footer {
  background-color: #212121;
  top:375%;
  color:#fff;
  width:100%;
  height:200px;
  position:absolute;;
}

.img1{
  opacity:1;
  /*filter:aplha(opacity=50);
  opacity:0.5;
  transition: opacity 1s ease out;
  -webkit-transition:opacity 1s ease out;
  -moz-transition:opacity 1s ease out;
  -o-transition:opacity 1s ease out;
  -ms-transition:opacity 1s ease out;*/
}

.img1:hover{
  filter:aplha(opacity=70);
  opacity:0.7;
  transition: opacity 1s ease out;
  -webkit-transition:opacity 1s ease out;
  -moz-transition:opacity 1s ease out;
  -o-transition:opacity 1s ease out;
  -ms-transition:opacity 1s ease out;
}


img{
  float:right;
  box-shadow: -10px 0px 10px 0px rgba(0,0,0,0.40);
  border-radius: 15px;
  width:50%;
  height:100%;
}

.descript{
  /*float: right;
  text-align: right;
  margin-right:10%;*/
  float: left;
  width:50%;
  color:#212121;
}
hr{
  opacity: 0.5;
}

h1{
  margin-left: 10%;
}

h3{
  margin-left: 5%;
  font-family: Open Sans;
}

h2{
  color:#00c853;
  margin-left: 5%;
  font-family: Open Sans;
}

a:link{
  text-decoration: none;
}
a:visited{

}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
